/* Estilo geral */
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #0d0d0d;
    color: #f0f0f0;
    background-image: url('imagens/background_texture.png');
    background-repeat: repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Evita rolagem horizontal */
}

header, nav, footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

header h1, header h2 {
    font-size: calc(1.5em + 1vw); /* Tamanho relativo à largura da tela */
    color: #5AE65F;
    margin: 0;
    text-align: center; /* Centraliza o texto */
}

header p {
    font-size: 0.7em;
    color: #000000;
    margin: 0;
    text-align: center; /* Centraliza o texto */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza a navegação */
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
}

nav ul li {
    display: inline-block;
    margin: 0 10px; /* Ajusta o espaçamento dos itens */
}

nav ul li a {
    color: #00ff00;
    text-decoration: none;
    font-size: calc(1em + 0.5vw); /* Tamanho relativo à largura da tela */
}
nav ul li a:hover {
    color: #00ff00; /* Verde Neon */
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; /* Efeito de Glow */
    }

section {
    margin: 20px auto; /* Ajusta a margem para centralizar */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px dashed #3aff5493;
    border-radius: 10px;
    width: calc(100% - 40px); /* Ajusta a largura para se adaptar à tela */
    box-sizing: border-box;
}

footer p {
    margin: 5px;
}

footer button {
    background-color: #00ff00;
    border: none;
    color: #0d0d0d;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

footer button:hover {
    background-color: #00cc00;
}

#lain-image {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 400px; /* Mantém o tamanho original da imagem */
    z-index: 1000;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

@media (max-width: 768px) {
    #lain-image {
        display: none;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    footer button {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
    }
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.play-icon i {
    color: #fff;
    font-size: 24px;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    height: auto;
    background-color: rgba(39, 131, 70, 0.623);
    text-align: center;
    padding: 20px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
}

.insta-icon, .twitter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    margin: 10px;
}

.insta-icon {
    color: #ff00ff;
}

.twitter-icon {
    color: #000000;
}

.close-button {
    background: transparent;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover {
    color: #ccc;
}


.blinking-cursor {
    position: relative;
    animation: blink 1.2s linear infinite;
    width: 1px;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

#music .glitch {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 2em;
    margin-bottom: 20px;
}

#music .glitch:before,
#music .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#music .glitch:before {
    left: 2px;
    text-shadow: -2px 0 red;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 1s infinite linear alternate-reverse;
}

#music .glitch:after {
    left: -2px;
    text-shadow: -2px 0 blue;
    clip: rect(24px, 400px, 48px, 0);
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(45px, 9999px, 56px, 0);
    }
    10%, 18%, 24%, 30%, 60% {
        clip: rect(1px, 9999px, 35px, 0);
    }
    12%, 16%, 28%, 54%, 70% {
        clip: rect(62px, 9999px, 89px, 0);
    }
    100% {
        clip: rect(45px, 9999px, 56px, 0);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(85px, 9999px, 96px, 0);
    }
    10%, 18%, 24%, 30%, 60% {
        clip: rect(61px, 9999px, 78px, 0);
    }
    12%, 16%, 28%, 54%, 70% {
        clip: rect(12px, 9999px, 23px, 0);
    }
    100% {
        clip: rect(85px, 9999px, 96px, 0);
    }
}

#music .content {
    text-align: center;
}

#music h2 {
    color: #000000;
    margin-bottom: 20px;
}

/* Estilo para a lista dentro do modal */
#redes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#redes ul li {
    margin: 10px 0;
}

#redes ul li a {
    color: #00ff00; /* Verde Neon para o texto do link */
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#redes ul li a:hover {
    color: #00ff00; /* Verde Neon para o texto do link no hover */
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; /* Efeito de Glow */
}

#redes ul li .insta-icon, #redes ul li .twitter-icon {
    margin-right: 10px;
    font-size: 2em;
}

